<h2>
  Alert
</h2>

<div class="example">
  <div class="component">
    <div class="title">Component:</div>
    <crowder-alert
      [iconEnabled]="iconEnabled"
      [icon]="icon"
      [message]="message"
      [tooltipMessage]="tooltipMessage"
      [colour]="colour"
      [tooltipEnabled]="tooltip"
      [messageSize]="messageSize"
    ></crowder-alert>
  </div>

  <div class="controls">
    <div class="title">Configuration:</div>

    <div class="control">
      <label>Icon enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon type:</label>
      <input type="text" [(ngModel)]="icon" />
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon colour:</label>
      <input type="text" [(ngModel)]="colour" />
    </div>

    <div class="control">
      <label>Message:</label>
      <input type="text" [(ngModel)]="message" />
    </div>

    <div class="control">
      <label>Message size:</label>
      <input type="text" [(ngModel)]="messageSize" />
    </div>

    <div class="control">
      <label>Tooltip enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="tooltip"
          name="tooltipEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="tooltip"
          name="tooltipDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="tooltip">
      <label>Tooltip Message:</label>
      <input type="text" [(ngModel)]="tooltipMessage" />
    </div>
  </div>

  <div class="usage">
    <div class="title">Usage:</div>
    <div class="code">
      <code>
        &lt;crowder-alert
        <div *ngIf="iconEnabled === false">
          &nbsp;&nbsp;[iconEnabled]='{{ iconEnabled }}'
        </div>
        <div *ngIf="icon != null && icon != ''">
          &nbsp;&nbsp;[icon]='{{ icon }}'
        </div>
        <div *ngIf="colour != null && colour != ''">
          &nbsp;&nbsp;[colour]='{{ colour }}'
        </div>
        <div *ngIf="message != null && message != ''">
          &nbsp;&nbsp;[message]='{{ message }}'
        </div>
        <div *ngIf="messageSize != null && messageSize != ''">
          &nbsp;&nbsp;[messageSize]='{{ messageSize }}'
        </div>
        <div *ngIf="tooltip === false">
          &nbsp;&nbsp;[tooltip]='{{ tooltip }}'
        </div>
        <div *ngIf="tooltipMessage != null && tooltipMessage != ''">
          &nbsp;&nbsp;[tooltipMessage]='{{ tooltipMessage }}'
        </div>
        &gt;<br />&lt;/crowder-alert&gt;
      </code>
    </div>
  </div>
</div>
