<h2>
  Alert
</h2>

<div class="example">
  <div class="component">
    <div class="title">Component:</div>
    <crowder-alert
      class="alert"
      [iconEnabled]="iconEnabled"
      [iconType]="iconType"
      [iconColour]="iconColour"
      [iconAfterMessage]="iconAfterMessage"
      [message]="message"
      [messageSize]="messageSize"
      [messageColour]="messageColour"
      [tooltipMessage]="tooltipMessage"
      [tooltipEnabled]="tooltipEnabled"
    ></crowder-alert>
  </div>

  <div class="controls">
    <div class="title">Configuration:</div>

    <div class="control">
      <label>Icon enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon type:</label>
      <input type="text" [(ngModel)]="iconType" />
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon colour:</label>
      <input type="text" [(ngModel)]="iconColour" />
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon position:</label>
      <div>
        <label class="radio">Before:</label>
        <input
          type="radio"
          [(ngModel)]="iconAfterMessage"
          name="iconBeforeMessage"
          [value]="false"
        />
        <label class="radio">After:</label>
        <input
          type="radio"
          [(ngModel)]="iconAfterMessage"
          name="iconAfterMessage"
          [value]="true"
        />
      </div>
    </div>

    <div class="divider"></div>

    <div class="control">
      <label>Message:</label>
      <input type="text" [(ngModel)]="message" />
    </div>

    <div class="control">
      <label>Message size:</label>
      <input type="text" [(ngModel)]="messageSize" />
    </div>

    <div class="control">
      <label>Message colour:</label>
      <input type="text" [(ngModel)]="messageColour" />
    </div>

    <div class="divider"></div>

    <div class="control">
      <label>Tooltip enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="tooltipEnabled"
          name="tooltipEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="tooltipEnabled"
          name="tooltipDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="tooltipEnabled">
      <label>Tooltip Message:</label>
      <input type="text" [(ngModel)]="tooltipMessage" />
    </div>
  </div>

  <div class="usage">
    <div class="title">Usage:</div>
    <div class="code">
      <code>
        &lt;crowder-alert
        <div *ngIf="!iconEnabled">
          &nbsp;&nbsp;[iconEnabled]={{ iconEnabled }}
        </div>
        <div *ngIf="iconEnabled && iconType != null && iconType != ''">
          &nbsp;&nbsp;[iconType]='{{ iconType }}'
        </div>
        <div *ngIf="iconEnabled && iconColour != null && iconColour != ''">
          &nbsp;&nbsp;[iconColour]='{{ iconColour }}'
        </div>
        <div *ngIf="iconEnabled && iconAfterMessage">
          &nbsp;&nbsp;[iconAfterMessage]={{ iconAfterMessage }}
        </div>
        <div *ngIf="message != null && message != ''">
          &nbsp;&nbsp;[message]='{{ message }}'
        </div>
        <div *ngIf="messageSize != null && messageSize != ''">
          &nbsp;&nbsp;[messageSize]='{{ messageSize }}'
        </div>
        <div *ngIf="messageColour != null && messageColour != ''">
          &nbsp;&nbsp;[messageColour]='{{ messageColour }}'
        </div>
        <div *ngIf="!tooltipEnabled">
          &nbsp;&nbsp;[tooltipEnabled]={{ tooltipEnabled }}
        </div>
        <div *ngIf="tooltipEnabled && tooltipMessage != null && tooltipMessage != ''">
          &nbsp;&nbsp;[tooltipMessage]='{{ tooltipMessage }}'
        </div>
        &gt;<br />&lt;/crowder-alert&gt;
      </code>
    </div>
  </div>
</div>
