<h2>
  Tooltip
</h2>

<div class="example">
  <div class="component">
    <div class="title">Component:</div>
    <crowder-tooltip
      class="tooltip"
      [mainTextColour]="mainTextColour"
      [mainTextSize]="mainTextSize"
      [tooltipBackgroundColour]="tooltipBackgroundColour"
      [tooltipTextColour]="tooltipTextColour"
      [tooltipTextSize]="tooltipTextSize"
    >
      <span content>{{ content }}</span>
      <span tooltiptext>{{ tooltiptext }}</span>
    </crowder-tooltip>
  </div>

  <div class="controls">
    <div class="title">Configuration:</div>

    <div class="control">
      <label>Main content:</label>
      <input type="text" [(ngModel)]="content" />
    </div>

    <div class="control">
      <label>Main text colour:</label>
      <input type="text" [(ngModel)]="mainTextColour" />
    </div>

    <div class="control">
      <label>Main text size:</label>
      <input type="text" [(ngModel)]="mainTextSize" />
    </div>

    <div class="divider"></div>

    <div class="control">
      <label>Tooltip content:</label>
      <input type="text" [(ngModel)]="tooltiptext" />
    </div>

    <div class="control">
      <label>Tooltip background colour:</label>
      <input type="text" [(ngModel)]="tooltipBackgroundColour" />
    </div>

    <div class="control">
      <label>Tooltip text colour:</label>
      <input type="text" [(ngModel)]="tooltipTextColour" />
    </div>

    <div class="control">
      <label>Tooltip text size:</label>
      <input type="text" [(ngModel)]="tooltipTextSize" />
    </div>
  </div>

  <div class="usage">
    <div class="title">Usage:</div>
    <div class="code">
      <code>
        <span class="bracket">&lt;</span>
        <span class="tag">crowder-tooltip</span>
        <div *ngIf="mainTextColour != null && mainTextColour != ''">
          &nbsp;&nbsp;
          <span class="param">[mainTextColour]</span>
          <span>=</span>
          <span class="var">'{{ mainTextColour }}'</span>
        </div>
        <div *ngIf="mainTextSize != null && mainTextSize != ''">
          &nbsp;&nbsp;
          <span class="param">[mainTextSize]</span>
          <span>=</span>
          <span class="var">'{{ mainTextSize }}'</span>
        </div>
        <div *ngIf="tooltipTextColour != null && tooltipTextColour != ''">
          &nbsp;&nbsp;
          <span class="param">[tooltipTextColour]</span>
          <span>=</span>
          <span class="var">'{{ tooltipTextColour }}'</span>
        </div>
        <div *ngIf="tooltipTextSize != null && tooltipTextSize != ''">
          &nbsp;&nbsp;
          <span class="param">[tooltipTextSize]</span>
          <span>=</span>
          <span class="var">'{{ tooltipTextSize }}'</span>
        </div>
        <div *ngIf="tooltipBackgroundColour != null && tooltipBackgroundColour != ''">
          &nbsp;&nbsp;
          <span class="param">[tooltipBackgroundColour]</span>
          <span>=</span>
          <span class="var">'{{ tooltipBackgroundColour }}'</span>
        </div>
        <span class="bracket">&gt;</span>
        <div>
          &nbsp;&nbsp;
          <span class="bracket">&lt;</span>
          <span class="tag">span </span>
          <span class="param">content</span>
          <span class="bracket">&gt;</span>
          <span>{{ content }}</span>
          <span class="bracket">&lt;/</span>
          <span class="tag">span</span>
          <span class="bracket">&gt;</span>
        </div>
        <div>
          &nbsp;&nbsp;
          <span class="bracket">&lt;</span>
          <span class="tag">span </span>
          <span class="param">tooltiptext</span>
          <span class="bracket">&gt;</span>
          <span>{{ tooltiptext }}</span>
          <span class="bracket">&lt;/</span>
          <span class="tag">span</span>
          <span class="bracket">&gt;</span>
        </div>
        <div>
          <span class="bracket">&lt;/</span>
          <span class="tag">crowder-tooltip</span>
          <span class="bracket">&gt;</span>
        </div>
      </code>
    </div>
  </div>
</div>
