<h2>
  Alert
</h2>

<div class="example">
  <div class="component">
    <div class="title">Component:</div>
    <crowder-alert
      class="alert"
      [iconEnabled]="iconEnabled"
      [iconType]="iconType"
      [iconColour]="iconColour"
      [iconAfterMessage]="iconAfterMessage"
      [message]="message"
      [messageSize]="messageSize"
      [messageColour]="messageColour"
      [tooltipEnabled]="tooltipEnabled"
      [tooltipMessage]="tooltipMessage"
      [tooltipTextSize]="tooltipTextSize"
      [tooltipTextColour]="tooltipTextColour"
      [tooltipBackgroundColour]="tooltipBackgroundColour"
    ></crowder-alert>
  </div>

  <div class="controls">
    <div class="title">Configuration:</div>

    <div class="control">
      <label>Icon enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="iconEnabled"
          name="iconDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon type:</label>
      <input type="text" [(ngModel)]="iconType" />
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon colour:</label>
      <input type="text" [(ngModel)]="iconColour" />
    </div>

    <div class="control" *ngIf="iconEnabled">
      <label>Icon position:</label>
      <div>
        <label class="radio">Before:</label>
        <input
          type="radio"
          [(ngModel)]="iconAfterMessage"
          name="iconBeforeMessage"
          [value]="false"
        />
        <label class="radio">After:</label>
        <input
          type="radio"
          [(ngModel)]="iconAfterMessage"
          name="iconAfterMessage"
          [value]="true"
        />
      </div>
    </div>

    <div class="divider"></div>

    <div class="control">
      <label>Message text:</label>
      <input type="text" [(ngModel)]="message" />
    </div>

    <div class="control">
      <label>Message size:</label>
      <input type="text" [(ngModel)]="messageSize" />
    </div>

    <div class="control">
      <label>Message colour:</label>
      <input type="text" [(ngModel)]="messageColour" />
    </div>

    <div class="divider"></div>

    <div class="control">
      <label>Tooltip enabled:</label>
      <div>
        <label class="radio">True:</label>
        <input
          type="radio"
          [(ngModel)]="tooltipEnabled"
          name="tooltipEnabled"
          [value]="true"
        />
        <label class="radio">False:</label>
        <input
          type="radio"
          [(ngModel)]="tooltipEnabled"
          name="tooltipDisabled"
          [value]="false"
        />
      </div>
    </div>

    <div class="control" *ngIf="tooltipEnabled">
      <label>Tooltip text:</label>
      <input type="text" [(ngModel)]="tooltipMessage" />
    </div>

    <div class="control" *ngIf="tooltipEnabled">
      <label>Tooltip text size:</label>
      <input type="text" [(ngModel)]="tooltipTextSize" />
    </div>

    <div class="control" *ngIf="tooltipEnabled">
      <label>Tooltip text colour:</label>
      <input type="text" [(ngModel)]="tooltipTextColour" />
    </div>

    <div class="control" *ngIf="tooltipEnabled">
      <label>Tooltip background colour:</label>
      <input type="text" [(ngModel)]="tooltipBackgroundColour" />
    </div>
  </div>

  <div class="usage">
    <div class="title">Usage:</div>
    <div class="code">
      <code>
        <span class='bracket'>&lt;</span><span class='tag'>crowder-alert</span>
        <div *ngIf="!iconEnabled">
          <span class='param'>&nbsp;&nbsp;[iconEnabled]</span>
          <span>=</span>
          <span class='var'>{{ iconEnabled }}</span>
        </div>
        <div *ngIf="iconEnabled && iconType != null && iconType != ''">
          <span class='param'>&nbsp;&nbsp;[iconType]</span>
          <span>=</span>
          <span class='var'>'{{ iconType }}'</span>
        </div>
        <div *ngIf="iconEnabled && iconColour != null && iconColour != ''">
          <span class='param'>&nbsp;&nbsp;[iconColour]</span>
          <span>=</span>
          <span class='var'>'{{ iconColour }}'</span>
        </div>
        <div *ngIf="iconEnabled && iconAfterMessage">
          <span class='param'>&nbsp;&nbsp;[iconAfterMessage]</span>
          <span>=</span>
          <span class='var'>{{ iconAfterMessage }}</span>
        </div>
        <div *ngIf="message != null && message != ''">
          <span class='param'>&nbsp;&nbsp;[message]</span>
          <span>=</span>
          <span class='var'>'{{ message }}'</span>
        </div>
        <div *ngIf="messageSize != null && messageSize != ''">
          <span class='param'>&nbsp;&nbsp;[messageSize]</span>
          <span>=</span>
          <span class='var'>'{{ messageSize }}'</span>
        </div>
        <div *ngIf="messageColour != null && messageColour != ''">
          <span class='param'>&nbsp;&nbsp;[messageColour]</span>
          <span>=</span>
          <span class='var'>'{{ messageColour }}'</span>
        </div>
        <div *ngIf="!tooltipEnabled">
          <span class='param'>&nbsp;&nbsp;[tooltipEnabled]</span>
          <span>=</span>
          <span class='var'>{{ tooltipEnabled }}</span>
        </div>
        <div *ngIf="tooltipEnabled && tooltipMessage != null && tooltipMessage != ''">
          <span class='param'>&nbsp;&nbsp;[tooltipMessage]</span>
          <span>=</span>
          <span class='var'>'{{ tooltipMessage }}'</span>
        </div>
        <div *ngIf="tooltipEnabled && tooltipTextSize != null && tooltipTextSize != ''">
          <span class='param'>&nbsp;&nbsp;[tooltipTextSize]</span>
          <span>=</span>
          <span class='var'>'{{ tooltipTextSize }}'</span>
        </div>
        <div *ngIf="tooltipEnabled && tooltipTextColour != null && tooltipTextColour != ''">
          <span class='param'>&nbsp;&nbsp;[tooltipTextColour]</span>
          <span>=</span>
          <span class='var'>'{{ tooltipTextColour }}'</span>
        </div>
        <div *ngIf="tooltipEnabled && tooltipBackgroundColour != null && tooltipBackgroundColour != ''">
          <span class='param'>&nbsp;&nbsp;[tooltipBackgroundColour]</span>
          <span>=</span>
          <span class='var'>'{{ tooltipBackgroundColour }}'</span>
        </div>
        <span class='bracket'>&gt;</span>
        <div>
          <span class='bracket'>&lt;/</span>
          <span class='tag'>crowder-alert</span>
          <span class='bracket'>&gt;</span>
        </div>
      </code>
    </div>
  </div>
</div>
