<h2>
  Carousel
</h2>

<div class="example">
  <div class="component">
    <div class="title">Component:</div>
    <div class="carousel-holder">
      <crowder-carousel class="carousel" [itemsDisplayed]="3">
        <ng-container *carouselItem>
          <div class="item">Item 1</div>
        </ng-container>
        <ng-container *carouselItem>
          <div class="item">Item 2</div>
        </ng-container>
        <ng-container *carouselItem>
          <div class="item">Item 3</div>
        </ng-container>
        <ng-container *carouselItem>
          <div class="item">Item 4</div>
        </ng-container>
        <ng-container *carouselItem>
          <div class="item">Item 5</div>
        </ng-container>
        <ng-container *carouselItem>
          <div class="item">Item 6</div>
        </ng-container>
      </crowder-carousel>
    </div>
  </div>
</div>
